# servaddr for tradingdb2
tradingdb2servaddr: 127.0.0.1:5002
# token for tradingdb2
tradingdb2token: 123456

# jqdata - configuation for jqdata
jqdata:
  username: abc
  password: 123456

tasks:
  - market: bitmex
    symbol: XBTUSD
    tags: ["202001"]
    timetype: 1m
  - market: bitmex
    symbol: XBTUSD
    tags: ["2020"]
    timetype: 1d
  - market: jqdata
    symbol: index
    tags:
      [
        "2005",
        "2006",
        "2007",
        "2008",
        "2009",
        "2010",
        "2011",
        "2012",
        "2013",
        "2014",
        "2015",
        "2016",
        "2017",
        "2018",
        "2019",
        "2020",
      ]
    timetype: 1d
    startsymbol: 1
    endsymbol: 852
